<div class="grid grid-cols-1 bg-white justify-center rounded max-w-[100vh]">
    <div class="flex flex-row justify-between">
        <span class="text-xl text-center md:text-xl font-bold  tracking-tight  leading-7 sm:leading-10 truncate mt-3">
            ให้คะแนนแอดมินสำหรับการจองครั้งนี้
        </span>
        <span class="text-[16px] text-center md:text-xl   tracking-tight   leading-7 sm:leading-10 truncate mt-2" (click)="closeBottomSheet(true)">
            <mat-icon svgIcon="heroicons_mini:x-mark" class="icon-size-8"></mat-icon>
        </span>
    </div>
</div>
<div class="grid grid-cols-3  bg-slate-50 justify-center rounded max-w-[100vh] overflow-hidden relative">
    <div class="flex p-2 col-span-2">
        <div>
            <span class="text-xl font-bold">{{item?.car?.license ?? "-"}}</span>
            <br>
            <span class="text-sm text-slate-400"> {{item?.car?.brand_model?.name ?? "-"}} • {{item?.car?.color ??
                "-"}}</span>
            <br>
            <span class="text-sm text-slate-400"> วันที่รับบริการ </span><span class="text-sm text-black bold font-bold">22/12/2023</span>
        </div>
    </div>
    <div class="flex p-2 justify-end mr-2">
        <img class="h-20 w-auto" [src]="item?.car?.image">
    </div>
</div>
<div class="flex bg-white justify-center rounded max-w-[100vh] my-4">
    <div class="flex flex-row justify-center w-[190px] bg-white shadow rounded-full mt-5 justify-items-end">
        <div class="flex p-2 rounded-full justify-center">
            <img class="h-auto w-15" [src]="item?.activitys[item?.activitys.length-1]?.user?.image">
        </div>
        <div class="flex p-2" style="align-items: center;">
            {{item?.activitys[item?.activitys.length-1]?.user?.fname}} {{item?.activitys[item?.activitys.length-1]?.user?.lname}}
        </div>
    </div>
</div>

<div class="grid grid-cols-1 bg-white justify-center rounded max-w-[100vh] mt-4">
    <div class=" flex relative items-end justify-center w-full h-35 px-4 md:px-6 z-49 bg-white">
        <ngx-stars [readonly]="false" [size]="2" [maxStars]="5" (ratingOutput)="onRatingSet($event)" [color]="'#fdc045'" [animation]="true" [wholeStars]="true"></ngx-stars>
    </div>
</div>

<div class=" flex flex-col relative items-center justify-center w-full h-35 px-4 md:px-6 z-49 bg-white" *ngIf="this.ratingDisplay === 3 || this.ratingDisplay === 2 || this.ratingDisplay === 1">
    <span class="text-mdf text-center md:text-xl font-bold  tracking-tight  leading-7 sm:leading-10 truncate mt-3">
        คำแนะนำของคุณจะช่วยให้เราพัฒนาบริการให้ดียิ่งขึ้น
    </span>

</div>
<div class=" flex flex-col relative items-center justify-center w-full h-35 px-4 md:px-6 z-49 bg-white" *ngIf="this.ratingDisplay === 5 || this.ratingDisplay === 4">
    <span class="text-mdf text-center md:text-xl font-bold  tracking-tight  leading-7 sm:leading-10 truncate mt-3">
        อยากชื่นชมเราในเรื่องใด
    </span>
</div>
<div class=" flex flex-col relative items-center justify-center w-full h-70 px-4 md:px-6 z-49 bg-white" *ngIf="this.ratingDisplay === 0">

</div>
<form [formGroup]="dataForm" *ngIf="this.ratingDisplay !== 0">
    <div class=" flex flex-col relative items-center justify-center w-full h-35 px-4 md:px-6 z-49 bg-white">
        <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-bold w-full" [subscriptSizing]="'dynamic'">
            <textarea matInput [formControlName]="'comment'" cdkTextareaAutosize #messageInput [rows]="5"></textarea>
        </mat-form-field>
    </div>
</form>
<div class="grid grid-cols-1 bg-white justify-center rounded max-w-[100vh]">
    <div class=" flex relative items-end justify-end w-full h-35 px-4 md:px-6 z-49 bg-white">
        <button *ngIf="this.ratingDisplay !== 0" (click)="submit()" class="fuse-mat-button-large w-full my-5 rounded-md text-white" mat-flat-button [color]="'primary'">
            เสร็จสิ้น
        </button>
        <button *ngIf="this.ratingDisplay === 0" class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" mat-flat-button [color]="'warn'">
            เสร็จสิ้น
        </button>
    </div>
</div>