<div class="w-full">

    <!-- Form -->

    <!-- Section -->

    <div class="w-full mt-15">
        <div class="text-xl">เลือกวัน</div>
    </div>
    <div class="flex items-center justify-center">
        <img class="w-full h-auto items-center justify-center" src="assets/images/messageImage_1704853649461.jpg" alt="Cover image">
    </div>

    <!-- Divider -->
    <!-- <div class="my-10 border-t"></div> -->

    <!-- Actions -->
    <!-- <div class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">

            <button class="fuse-mat-button-large w-full mt-6 rounded-md text-white" mat-flat-button [color]="'primary'">
                ถัดไป
            </button>
        </div> -->



</div>
<!-- <div class="relative items-center justify-start w-full h-14 z-49 ">
    <button class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" [disabled]="disableBtn" mat-flat-button [color]="'primary'">
        ถัดไป
    </button>
</div> -->