<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">
    <div class="px-6 pt-4 pb-2 md:p-8 md:pb-2 lg:p-12">
        <div class="mt-3">
            <!-- Section -->
            <div class="w-full px-3 pt-1">
                <div class="text-xl font-bold">รถทั้งหมด ({{items ? items.length:0}})</div>
            </div>

        </div>
    </div>
    <div class="bottom-0 px-6 pt-2 pb-3 md:p-8 md:pb-6 lg:p-12">

        <div class="flex flex-col divide-y">

            <div class="flex flex-wrap items-start w-full">
                <ng-container *ngFor="let item of this.items; let i = index">
                    <fuse-card class="flex flex-col w-full p-4 m-2 filter-article" [ngClass]="{'opacity-50': item?.expire, '': !item?.expire}" (click)="booking(item)">
                        <div class="flex flex-col">

                            <div class="flex items-center">
                                <div class="flex flex-col min-w-0">
                                    <div class="font-lg font-bold leading-none">{{item?.license ?? "-"}}</div>
                                    <div class="text-md leading-none text-secondary mt-2">
                                        {{item?.brand_model?.name ?? "-"}} • {{item?.color ?? "-"}}
                                    </div>
                                    <br>
                                    <div class="font-sm leading-none pt-3">Last Maintenance</div>
                                    <div class="text-md leading-none text-secondary mt-2">
                                        {{item?.mile ?? "-"}} Km.{{item?.created_at | date: 'd/m/Y'}}
                                    </div>
                                </div>

                                <img class="w-30 h-auto ml-4 object-cover" [src]="item?.image" alt="Card cover image">

                                <div class="flex absolute right-2 top-1">
                                    <ng-container *ngIf="!item?.expire">
                                        <mat-icon class="icon-size-5" [svgIcon]="'asha:edit'" (click)="editCar(item.id)"></mat-icon>
                                    </ng-container>
                                    <ng-container *ngIf="item?.expire">
                                        <mat-icon class="icon-size-5 text-red-500" [svgIcon]="'asha:time-bg'"></mat-icon>
                                        <div class="ml-1.5 leading-6 text-red-500">
                                            หมดสัญญา
                                        </div>
                                    </ng-container>

                                </div>
                            </div>


                        </div>
                    </fuse-card>
                </ng-container>


            </div>


        </div>
    </div>

    <div class="bottom-0 px-6 pt-4 pb-5 md:p-8 md:pb-12 lg:p-12 w-full fixed bg-card">

        <div class="relative items-center justify-start w-full h-14 py-5 pb-15 z-49">
            <button class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" mat-flat-button [color]="'primary'" (click)="submit()">
                เพิ่มรถ
            </button>
        </div>

    </div>