<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">
    <div class="px-6 pt-9 pb-2 md:p-8 md:pb-2 lg:p-12">
        <div class="mt-3">
            <!-- Section -->
            <div class="w-full px-3">
                <div class="text-xl">เลือกวัน</div>

            </div>
            <div class="bg-card rounded-lg m-2">
                <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">

                    <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-4 sm:my-12">
                        <!-- Avatar and name -->
                        <div class="flex items-start justify-between">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_outline:calendar-days'"></mat-icon>
                                    <div class="ml-1.5 text-xl">{{date_format[2]}} {{months[date_format[1]]}} {{date_format[0]}}
                                    </div>
                                </div>
                            </div>

                            <div class="ml-2 -mr-3">
                                <mat-icon class="icon-size-5" [svgIcon]="'asha:edit-color'" (click)="editDate()"></mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section -->
            <div class="w-full px-3 pt-1">
                <div class="text-xl">เลือกเวลา</div>
            </div>
            <div class="bg-card rounded-lg m-2">
                <div class="flex flex-col w-full max-w-screen-xl mx-auto px-3 sm:px-8">

                    <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-4 sm:my-12">
                        <div class="flex items-start justify-between">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">
                                <mat-form-field>
                                    <mat-label>ชั่วโมง</mat-label>

                                    <mat-select [(ngModel)]="selectedHour">
                                        <mat-option *ngFor="let hour of hours" [value]="hour">{{ hour }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">
                                :
                            </div>

                            <div class="text-lg font-medium tracking-tight leading-6 truncate">
                                <mat-form-field>
                                    <mat-label>นาที</mat-label>

                                    <mat-select [(ngModel)]="selectedMinute">
                                        <mat-option *ngFor="let minute of minutes" [value]="minute">{{ minute }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <!-- <div class="text-lg font-medium tracking-tight leading-6 truncate">
                                นาที
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="bottom-0 px-6 pt-4 pb-5 md:p-8 md:pb-12 lg:p-12 w-full fixed">
        <div class="grid grid-cols-1 mt-0  justify-center rounded max-w-[100vh]">
            <!-- <button class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" (click)="openConfirm()" mat-flat-button [color]="'primary'">
                ดำเนินการต่อ
            </button> -->
            <div class=" flex relative items-end justify-end w-full h-35 px-4 md:px-6 z-49">
                <button *ngIf="this.selectedHour && this.selectedMinute" class="fuse-mat-button-large w-full my-1 rounded-md text-white" mat-flat-button [color]="'primary'" (click)="openConfirm()">
                    ดำเนินการต่อ
                </button>
                <button *ngIf="!this.selectedHour || !this.selectedMinute" class="fuse-mat-button-large w-full my-1 rounded-md text-white" mat-flat-button [color]="'warn'">
                    ดำเนินการต่อ
                </button>
            </div>
        </div>

    </div>
</div>