<div class="flex flex-row-reverse w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">

    <!-- Main -->
    <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">


        <!-- Load settings panel -->
        <div class="mt-3">
            <form [formGroup]="dataForm">

                <!-- Section -->
                <div class="flex items-center justify-center">
                    <img class="w-60 h-auto items-center justify-center" src="assets/images/car.png" alt="Cover image">
                </div>
                <div class="grid sm:grid-cols-4 gap-6 w-full mt-8 md:px-6">
                    <!-- Name -->
                    <div class="sm:col-span-4">
                        <b class="ml-1 text-lg">โปรดระบุเลขทะเบียนรถ</b>
                        <mat-form-field class="w-full mt-4" [subscriptSizing]="'dynamic'">
                            <!-- <mat-label>โปรดระบุเลขทะเบียนรถ</mat-label> -->

                            <input [formControlName]="'license'" (keyup)="onChange($event)" max="8" placeholder="ตัวอย่าง 8กง-6780" matInput>
                        </mat-form-field>
                    </div>
                    <div class="sm:col-span-4" *ngIf="disableError">
                        <div class="flex">
                            <mat-icon class="icon-size-5 text-red-500" [svgIcon]="'heroicons_solid:exclamation-triangle'"></mat-icon>
                            <div class="ml-1.5 leading-6 text-red-500">ไม่พบข้อมูลทะเบียนในระบบ หรืออาจหมดสัญญาเช่า สอบถามข้อมูลเพิ่มเติมโทร <a class="underline" href="tel:02-222-2222">02-222-2222</a>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </div>

    </div>



    <div class="bottom-0 px-6 pt-4 pb-5 md:p-8 md:pb-12 lg:p-12 w-full fixed scroll-padding-bottom-60">

        <div class="relative items-center justify-start w-full h-14 py-5 pb-15 z-49">
            <button *ngIf="!disableBtn" class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" mat-flat-button [color]="'primary'" (click)="submit()">
                ถัดไป
            </button>
            <button *ngIf="disableBtn" class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" mat-flat-button [color]="'warn'">
                ถัดไป
            </button>
        </div>

    </div>
</div>


<!-- <div class="flex flex-row-reverse bottom-0 px-6 pt-9 pb-5 md:p-8 md:pb-12 lg:p-12 w-full bg-card">

    <div class="relative items-center justify-start w-full h-14 py-5 pb-15 z-49">
        <button *ngIf="!disableBtn" class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" mat-flat-button [color]="'primary'" (click)="submit()">
            ถัดไป
        </button>
        <button *ngIf="disableBtn" class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" mat-flat-button [color]="'warn'">
            ถัดไป
        </button>
    </div>

</div> -->


<!-- <div class="bottom-0 px-6 pt-4 pb-5 md:p-8 md:pb-12 lg:p-12 w-full fixed">

    <div class="relative items-center justify-start w-full h-14 py-5 pb-15 z-49">
        <button *ngIf="!disableBtn" class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" mat-flat-button
            [color]="'primary'" (click)="submit()">
            ถัดไป
        </button>
        <button *ngIf="disableBtn" class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" mat-flat-button
            [color]="'warn'">
            ถัดไป
        </button>
    </div>

</div> -->