<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">


    <!-- Drawer -->
    <!-- Header -->
    <!-- <div class="flex items-center justify-between m-8 mr-6 sm:my-10"> -->
    <!-- Title -->
    <!-- <div class="text-4xl font-extrabold tracking-tight leading-none">Settings</div> -->
    <!-- Close button -->
    <!-- <div class="lg:hidden">
            <button mat-icon-button (click)="drawer.close()">
                <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div> -->
    <!-- </div> -->
    <!-- Panel links -->
    <!-- <div class="flex flex-col divide-y border-t border-b">
                <ng-container *ngFor="let panel of panels; trackBy: trackByFn">
                    <div class="flex px-8 py-5 cursor-pointer" [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedPanel || selectedPanel !== panel.id,
                                    'bg-primary-50 dark:bg-hover': selectedPanel && selectedPanel === panel.id}" (click)="goToPanel(panel.id)">
                        <mat-icon [ngClass]="{'text-hint': !selectedPanel || selectedPanel !== panel.id,
                                        'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id}" [svgIcon]="panel.icon"></mat-icon>
                        <div class="ml-3">
                            <div class="font-medium leading-6" [ngClass]="{'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id}">
                                {{panel.title}}
                            </div>
                            <div class="mt-0.5 text-secondary">
                                {{panel.description}}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div> -->


    <!-- Drawer content -->


    <!-- Main -->
    <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">

        <!-- Panel header -->
        <!-- <div class="flex items-center"> -->

        <!-- Drawer toggle -->
        <!-- <button
                        class="lg:hidden -ml-2"
                        mat-icon-button
                        (click)="drawer.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
                    </button> -->

        <!-- Panel title -->
        <!-- <div class="ml-2 lg:ml-0 text-3xl font-bold tracking-tight leading-none">
                        {{getPanelInfo(selectedPanel).title}}
                    </div> -->
        <!-- </div> -->

        <!-- Load settings panel -->
        <div class="mt-3">
            <form [formGroup]="dataForm">

                <!-- Section -->
                <div class="flex items-center justify-center">
                    <img class="w-60 h-auto items-center justify-center" src="assets/images/car.png" alt="Cover image">
                </div>
                <div class="grid sm:grid-cols-4 gap-6 w-full mt-8 md:px-6">
                    <!-- Name -->
                    <div class="sm:col-span-4">
                        <b class="ml-1 text-lg">โปรดระบุเลขทะเบียนรถ</b>
                        <mat-form-field class="w-full mt-4" [subscriptSizing]="'dynamic'">
                            <!-- <mat-label>โปรดระบุเลขทะเบียนรถ</mat-label> -->

                            <input [formControlName]="'license'" (keyup)="onChange($event)" max="8" placeholder="ตัวอย่าง 8กง-6780" matInput>
                        </mat-form-field>
                    </div>
                    <div class="sm:col-span-4" *ngIf="disableError">
                        <div class="flex">
                            <mat-icon class="icon-size-5 text-red-500" [svgIcon]="'heroicons_solid:exclamation-triangle'"></mat-icon>
                            <div class="ml-1.5 leading-6 text-red-500">ไม่พบข้อมูลทะเบียนในระบบ หรืออาจหมดสัญญาเช่า สอบถามข้อมูลเพิ่มเติมโทร <a class="underline" href="tel:02-222-2222">02-222-2222</a>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </div>

    </div>


    <!-- <div class="bottom-0 px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">

        <div class="relative items-center justify-start w-full h-14 py-5 z-49">
            <button class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" (click)="submit()" mat-flat-button [color]="'primary'">
                ถัดไป
            </button>
        </div>

    </div> -->
</div>


<div class="bottom-0 px-6 pt-4 pb-5 md:p-8 md:pb-12 lg:p-12 w-full fixed">

    <div class="relative items-center justify-start w-full h-14 py-5 pb-15 z-49">
        <button *ngIf="!disableBtn" class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" mat-flat-button [color]="'primary'" (click)="submit()">
            ถัดไป
        </button>
        <button *ngIf="disableBtn" class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" mat-flat-button [color]="'warn'">
            ถัดไป
        </button>
    </div>

</div>