<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden bg-card">

    <div class="flex flex-col items-center px-6 pt-2 pb-3 md:p-8 md:pb-6 lg:p-12">

        <!-- Recurring selector -->
        <div class="flex items-center mt-8 sm:mt-16 rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700 p-0.5">
            <button class="px-8 swif-btn" [ngClass]="{'bg-card pointer-events-none shadow': yearlyBilling,
                                'bg-transparent': !yearlyBilling}" mat-flat-button (click)="yearlyBilling = true">
                กำลังดำเนินการ
            </button>
            <button class="px-8 swif-btn" [ngClass]="{'bg-card pointer-events-none shadow': !yearlyBilling,
                                'bg-transparent': yearlyBilling}" mat-flat-button (click)="yearlyBilling = false">
                เสร็จสิ้น/ยกเลิก
            </button>
        </div>
    </div>
    <div class="bottom-0 px-6 pt-2 pb-3 md:p-8 md:pb-6 lg:p-12">

        <div class="flex flex-col divide-y">

            <div class="flex flex-wrap items-center w-full">
                <!-- Divider -->
                <ng-container *ngIf="yearlyBilling == true">
                    <ng-container *ngIf="bookings?.length > 0">
                        <ng-container *ngFor="let booking of bookings; let i = index">
                            <fuse-card class="flex flex-col px-5 w-full p-2 m-2 filter-article" *ngIf="booking?.status == 'กำลังดำเนินการ'">
                                <div class="flex items-center sm:mx-8">
                                    <div class="flex flex-col">
                                        <span class="font-semibold leading-none">{{booking?.date}}</span>
                                        <span class="text-sm text-secondary leading-none mt-1">{{booking?.time}}</span>
                                    </div>
                                    <div class="ml-auto flex items-center justify-center px-4 py-1 rounded-full cursor-pointer ring-inset ring-primary bg-hover">
                                        <div class="flex-0 w-2 h-2 rounded-full bg-gray-300"></div>
                                        <div class="ml-2.5 font-medium leading-5 truncate">
                                            {{booking?.status}}
                                        </div>
                                    </div>

                                </div>
                                <div class="my-2 border-t"></div>
                                <div class="flex flex-col">
                                    <div class="flex items-center">
                                        <img class="w-30 h-auto mr-4 object-cover" [src]="booking?.car?.image" alt="Card cover image">
                                        <div class="flex flex-col min-w-0">
                                            <div class="font-medium leading-none">{{booking?.car?.license ?? "-"}}</div>
                                            <div class="text-md leading-none text-secondary mt-2">
                                                {{booking?.car?.brand_model?.name ?? "-"}} • {{booking?.car?.color ?? "-"}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="flex flex-col">
                                    <div class="flex">
                                        <mat-icon class="icon-size-5 mt-0.5 mr-2" [svgIcon]="'heroicons_outline:map-pin'"></mat-icon>
                                        <div> {{booking?.service_center?.name ?? "-"}} ดูแผนที่</div>
                                    </div>

                                </div>
                                <div class="my-2 border-t"></div>
                                <div class="flex items-center sm:mx-8">
                                    <div class="flex" (click)="openStatus()">
                                        <mat-icon class="icon-size-5 mt-0.5 mr-2" [svgIcon]="'asha:edit'"></mat-icon>
                                        <span class="font-semibold m-1">จัดการจอง</span>
                                    </div>
                                    <button class="ml-auto flex items-center justify-center px-4 py-1 rounded-full cursor-pointer fuse-mat-button" (click)="viewDetail(booking)" mat-flat-button [color]="'primary' ">
                                        รายละเอียด
                                    </button>

                                </div>
                            </fuse-card>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="activeBtn1">
                        <div class="w-full flex items-center justify-center mt-8">
                            <img class="w-40 h-auto object-cover" src="assets/images/Frame 17.png">
                        </div>
                        <div class="w-full flex items-center justify-center">
                            <div class="text-xl items-center justify-center">คุณยังไม่มีการจอง</div>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="yearlyBilling == false">
                    <ng-container *ngIf="bookings?.length > 0">
                        <ng-container *ngFor="let booking of bookings; let i = index">
                            <fuse-card class="flex flex-col max-w-80 w-full p-2 m-2 filter-article" *ngIf="booking?.status == 'รายการจองสิ้นสุดแล้ว' || booking?.status == 'รายการจองถูกยกเลิก'">
                                <div class="flex items-center sm:mx-8">
                                    <div class="flex flex-col">
                                        <span class="font-semibold leading-none">{{booking?.date}}</span>
                                        <span class="text-sm text-secondary leading-none mt-1">{{booking?.time}}</span>
                                    </div>
                                    <div class="ml-auto flex items-center justify-center px-4 py-1 rounded-full cursor-pointer ring-inset ring-primary bg-hover">
                                        <div class="flex-0 w-2 h-2 rounded-full bg-gray-300"></div>
                                        <div class="ml-2.5 font-medium leading-5 truncate">
                                            {{booking?.status}}
                                        </div>
                                    </div>

                                </div>
                                <div class="my-2 border-t"></div>
                                <div class="flex flex-col">
                                    <div class="flex items-center">
                                        <img class="w-30 h-auto mr-4 object-cover" [src]="booking?.car?.image" alt="Card cover image">
                                        <div class="flex flex-col min-w-0">
                                            <div class="font-medium leading-none">{{booking?.car?.license ?? "-"}}</div>
                                            <div class="text-md leading-none text-secondary mt-2">
                                                {{booking?.car?.brand_model?.name ?? "-"}} • {{booking?.car?.color ?? "-"}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="flex flex-col">
                                    <div class="flex">
                                        <mat-icon class="icon-size-5 mt-0.5 mr-2" [svgIcon]="'heroicons_outline:map-pin'"></mat-icon>
                                        <div> {{booking?.service_center?.name ?? "-"}} ดูแผนที่</div>
                                    </div>

                                </div>
                                <div class="my-2 border-t"></div>
                                <div class="flex items-center sm:mx-8">
                                    <!-- <div class="flex" (click)="openStatus()">
                                        <mat-icon class="icon-size-5 mt-0.5 mr-2" [svgIcon]="'asha:edit'"></mat-icon>
                                        <span class="font-semibold m-1">จัดการจอง</span>
                                    </div> -->
                                    <button *ngIf="item.evaluate == 'Y'" class="ml-auto flex items-center justify-center px-4 py-1 rounded-full cursor-pointer fuse-mat-button" (click)="viewDetail(booking)" mat-flat-button [color]="'primary' ">
                                        รายละเอียด
                                    </button>

                                    <button *ngIf="item.evaluate == 'N'" class="ml-auto flex items-center justify-center px-4 py-1 rounded-full cursor-pointer fuse-mat-button" (click)="viewDetail(booking)" mat-flat-button [color]="'primary' ">
                                        ให้คะแนน
                                    </button>

                                </div>
                            </fuse-card>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="activeBtn2">
                        <div class="w-full flex items-center justify-center mt-8">
                            <img class="w-40 h-auto object-cover" src="assets/images/Frame 17.png">
                        </div>
                        <div class="w-full flex items-center justify-center">
                            <div class="text-xl items-center justify-center">คุณยังไม่มีการจอง</div>
                        </div>
                    </ng-container>
                </ng-container>


            </div>
        </div>
    </div>

    <div class="bottom-10 px-6 pt-9 pb-5 md:p-8 md:pb-12 lg:p-12 bg-card">

        <div class="relative items-center justify-start w-full h-14 py-5 z-49">
            <button class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" mat-flat-button [color]="'primary'" (click)="openCars()">
                จองศูนย์ซ่อม
            </button>
        </div>

    </div>

</div>