<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden bg-card">

    <!-- Form -->
    <form [formGroup]="addForm">

        <div class="flex flex-col items-center">

            <!-- Recurring selector -->
            <div class="flex items-center mt-8 sm:mt-16 rounded-full overflow-hidden bg-gray-100 dark:bg-gray-700">
                <button class="px-10 swif-btn" [ngClass]="{'bg-card pointer-events-none shadow': yearlyBilling,
                                'bg-transparent': !yearlyBilling}" mat-flat-button (click)="yearlyBilling = true">
                    กำลังดำเนินการ
                </button>
                <button class="px-10 swif-btn" [ngClass]="{'bg-card pointer-events-none shadow': !yearlyBilling,
                                'bg-transparent': yearlyBilling}" mat-flat-button (click)="yearlyBilling = false">
                    เสร็จสิ้น/ยกเลิก
                </button>
            </div>
        </div>



        <!-- Section -->
        <div class="w-full flex items-center justify-center mt-8">
            <img class="w-40 h-auto object-cover" src="assets/images/Frame 17.png">
        </div>
        <div class="w-full flex items-center justify-center">
            <div class="text-xl items-center justify-center">คุณยังไม่มีการจอง</div>
        </div>
    </form>
</div>

<div class="bottom-10 px-6 pt-9 pb-5 md:p-8 md:pb-12 lg:p-12 fixed w-full bg-card">

    <div class="relative items-center justify-start w-full h-14 py-5 z-49">
        <button class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" mat-flat-button [color]="'primary'">
            ยืนยันการจอง
        </button>
    </div>

</div>