<div class="w-full">

    <!-- Form -->
    <form [formGroup]="addForm">

        <div class="flex flex-col items-center">

            <!-- Recurring selector -->
            <div class="flex items-center mt-8 sm:mt-16 rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700">
                <button class="px-10 swif-btn" [ngClass]="{'bg-card pointer-events-none shadow': yearlyBilling,
                                'bg-transparent': !yearlyBilling}" mat-flat-button (click)="yearlyBilling = true" disableRipple>
                    กำลังดำเนินการ
                </button>
                <button class="px-10 swif-btn" [ngClass]="{'bg-card pointer-events-none shadow': !yearlyBilling,
                                'bg-transparent': yearlyBilling}" mat-flat-button (click)="yearlyBilling = false" disableRipple>
                    เสร็จสิ้น/ยกเลิก
                </button>
            </div>
        </div>



        <!-- Section -->
        <div class="w-full flex items-center justify-center mt-8">
            <img class="w-40 h-auto object-cover" src="assets/images/Frame 17.png">
        </div>
        <div class="w-full flex items-center justify-center">
            <div class="text-xl items-center justify-center">คุณยังไม่มีการจอง</div>
        </div>
    </form>

</div>
