<div class="grid grid-cols-1 bg-white justify-center rounded max-w-[100vh]">
    <div class="flex flex-row justify-between">
        <span class="text-xl text-center md:text-xl font-bold  tracking-tight  leading-7 sm:leading-10 truncate mt-3">
            ให้คะแนนแอดมินสำหรับการจองครั้งนี้
        </span>
        <span class="text-[16px] text-center md:text-xl   tracking-tight   leading-7 sm:leading-10 truncate mt-2">
            <mat-icon svgIcon="heroicons_mini:x-mark" class="icon-size-8"></mat-icon>
        </span>
    </div>
</div>
<div class="grid grid-cols-3  bg-slate-50 justify-center rounded max-w-[100vh]">
    <div class="flex p-2 col-span-2">
        <div>
            <span class="text-xl font-bold">6กก-6789</span>
            <br>
            <span class="text-sm text-slate-400"> Toyota Accord - Silver</span>
            <br>
            <span class="text-sm text-slate-400"> วันที่รับบริการ </span><span
                class="text-sm text-black bold font-bold">22/12/2023</span>
        </div>
    </div>
    <div class="flex p-2 justify-end">
        <img class="h-20 w-auto" [src]="'assets/images/car/honda-accord.png'">
    </div>
</div>
<div class="flex flex-row justify-center bg-white shadow rounded-full mt-5">
    <div class="flex p-2 rounded-full">
        <img class="h-10 w-10" [src]="'assets/images/car/honda-accord.png'">
    </div>
    <span class="text-xl text-center md:text-xl font-bold  tracking-tight  leading-7 sm:leading-10 truncate mt-3">
        สมหญิง บริการดี
    </span>
</div>
<div class="grid grid-cols-1 bg-white justify-center rounded max-w-[100vh] mt-4">
    <div class=" flex relative items-end justify-center w-full h-35 px-4 md:px-6 z-49 bg-white">
        <ngx-stars [readonly]="false" [size]="2" [maxStars]="5" (ratingOutput)="onRatingSet($event)" [color]="'#fdc045'"
            [animation]="true"></ngx-stars>
    </div>
</div>
<div class="grid grid-cols-1 bg-white justify-center rounded max-w-[100vh] mt-4">
    <div class=" flex flex-col relative items-center justify-center w-full h-35 px-4 md:px-6 z-49 bg-white">
        <span class="text-mdf text-center md:text-xl font-bold  tracking-tight  leading-7 sm:leading-10 truncate mt-3">
            คำแนะนำของคุณจะช่วยให้เราพัฒนาบริการให้ดียิ่งขึ้น
        </span>
        <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-bold w-full" [subscriptSizing]="'dynamic'">
            <textarea matInput cdkTextareaAutosize #messageInput [rows]="5"></textarea>
        </mat-form-field>
    </div>
</div>

<div class="grid grid-cols-1 bg-white justify-center rounded max-w-[100vh]">
    <div class=" flex relative items-end justify-end w-full h-35 px-4 md:px-6 z-49 bg-white">
        <button class="fuse-mat-button-large w-full my-5 rounded-md text-white" mat-flat-button [color]="'primary'">
            ถัดไป
        </button>
    </div>
</div>