<div class="w-full">

    <!-- Form -->
    <form [formGroup]="planBillingForm">

        <!-- Section -->
        <div class="w-full text-center">
            <div class="text-xl items-center justify-center">ข้อกำหนดและเงื่อนไขการใช้บริการ</div>
            <div class="text-secondary items-center justify-center">Asap Car Rental</div>
        </div>

        <div class="grid sm:grid-cols-3 gap-6 w-full mt-4">
            <div class="text-secondary items-center justify-center">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ผู้ข้อใช้บริการตกลงใช้บริการ SCB Connect ของธนาคารตามที่ได้รับอนุมัติจากธนาคาร และตามรายละเอียดการให้บริการที่ธนาคารกำหนด โดยผู้ขอใช้บริการตกลงผูกพันและปฏิบัติตามข้อกำหนดและเงื่อนไข ดังต่อไปนี้
                <br><br> &nbsp;&nbsp;
                <b>1.คำนิยาม</b><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1 "เครื่องมือเพื่อการทำรายการ" หมายความถึง โทรศัพท์มือถือ และ/หรือ อุปกรณ์อิเล็กทรอนิกส์ใดๆ ของผู้ขอใช้บริการ ที่มีการดาวน์โหลดและติดตั้งโปรแกรม LINE Application สำหรับใช้บัญชี
                LINE ที่ผู้ขอใช้บริการขอใช้บริการ SCB Connect และ/หรือ ใช้ในการทำรายการใช้บริการ SCB Connect
                <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.2 "เครื่องมือเพื่อการทำรายการ" หมายความถึง โทรศัพท์มือถือ และ/หรือ อุปกรณ์อิเล็กทรอนิกส์ใดๆ ของผู้ขอใช้บริการ ที่มีการดาวน์โหลดและติดตั้งโปรแกรม LINE Application สำหรับใช้บัญชี LINE ที่ผู้ขอใช้บริการขอใช้บริการ
                SCB Connect และ/หรือ ใช้ในการทำรายการใช้บริการ SCB Connect
                <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.3 "เครื่องมือเพื่อการทำรายการ" หมายความถึง โทรศัพท์มือถือ และ/หรือ อุปกรณ์อิเล็กทรอนิกส์ใดๆ ของผู้ขอใช้บริการ ที่มีการดาวน์โหลดและติดตั้งโปรแกรม LINE Application สำหรับใช้บัญชี LINE ที่ผู้ขอใช้บริการขอใช้บริการ
                SCB Connect และ/หรือ ใช้ในการทำรายการใช้บริการ SCB Connect
            </div>
        </div>


    </form>

</div>
<div class="my-5 border-t"></div>