mat-bottom-sheet-container {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    min-width: 90px !important;
    padding: 10px 36px !important;
}

.my-component-bottom-sheet {
    min-height: 100vh;
    min-width: 90px !important;
    margin-top: 80px;
    padding: 30px 36px !important;
}