<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">


    <!-- Drawer -->
    <!-- Header -->
    <!-- <div class="flex items-center justify-between m-8 mr-6 sm:my-10"> -->
    <!-- Title -->
    <!-- <div class="text-4xl font-extrabold tracking-tight leading-none">Settings</div> -->
    <!-- Close button -->
    <!-- <div class="lg:hidden">
            <button mat-icon-button (click)="drawer.close()">
                <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div> -->
    <!-- </div> -->
    <!-- Panel links -->
    <!-- <div class="flex flex-col divide-y border-t border-b">
                <ng-container *ngFor="let panel of panels; trackBy: trackByFn">
                    <div class="flex px-8 py-5 cursor-pointer" [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedPanel || selectedPanel !== panel.id,
                                    'bg-primary-50 dark:bg-hover': selectedPanel && selectedPanel === panel.id}" (click)="goToPanel(panel.id)">
                        <mat-icon [ngClass]="{'text-hint': !selectedPanel || selectedPanel !== panel.id,
                                        'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id}" [svgIcon]="panel.icon"></mat-icon>
                        <div class="ml-3">
                            <div class="font-medium leading-6" [ngClass]="{'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id}">
                                {{panel.title}}
                            </div>
                            <div class="mt-0.5 text-secondary">
                                {{panel.description}}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div> -->


    <!-- Drawer content -->


    <!-- Main -->
    <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">

        <!-- Panel header -->
        <!-- <div class="flex items-center"> -->

        <!-- Drawer toggle -->
        <!-- <button
                        class="lg:hidden -ml-2"
                        mat-icon-button
                        (click)="drawer.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
                    </button> -->

        <!-- Panel title -->
        <!-- <div class="ml-2 lg:ml-0 text-3xl font-bold tracking-tight leading-none">
                        {{getPanelInfo(selectedPanel).title}}
                    </div> -->
        <!-- </div> -->

        <!-- Load settings panel -->
        <div class="mt-3">
            <form [formGroup]="planBillingForm">

                <!-- Section -->
                <div class="w-full text-center">
                    <div class="text-xl items-center justify-center">ข้อกำหนดและเงื่อนไขการใช้บริการ</div>
                    <div class="text-secondary items-center justify-center">Asap Car Rental</div>
                </div>

                <div class="grid sm:grid-cols-3 gap-6 w-full mt-4">
                    <div class="text-secondary items-center justify-center">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ผู้ข้อใช้บริการตกลงใช้บริการ SCB Connect ของธนาคารตามที่ได้รับอนุมัติจากธนาคาร และตามรายละเอียดการให้บริการที่ธนาคารกำหนด โดยผู้ขอใช้บริการตกลงผูกพันและปฏิบัติตามข้อกำหนดและเงื่อนไข ดังต่อไปนี้
                        <br><br> &nbsp;&nbsp;
                        <b>1.คำนิยาม</b><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1 "เครื่องมือเพื่อการทำรายการ" หมายความถึง โทรศัพท์มือถือ และ/หรือ อุปกรณ์อิเล็กทรอนิกส์ใดๆ ของผู้ขอใช้บริการ ที่มีการดาวน์โหลดและติดตั้งโปรแกรม LINE Application สำหรับใช้บัญชี
                        LINE ที่ผู้ขอใช้บริการขอใช้บริการ SCB Connect และ/หรือ ใช้ในการทำรายการใช้บริการ SCB Connect
                        <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.2 "เครื่องมือเพื่อการทำรายการ" หมายความถึง โทรศัพท์มือถือ และ/หรือ อุปกรณ์อิเล็กทรอนิกส์ใดๆ ของผู้ขอใช้บริการ ที่มีการดาวน์โหลดและติดตั้งโปรแกรม LINE Application สำหรับใช้บัญชี LINE
                        ที่ผู้ขอใช้บริการขอใช้บริการ SCB Connect และ/หรือ ใช้ในการทำรายการใช้บริการ SCB Connect
                        <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.3 "เครื่องมือเพื่อการทำรายการ" หมายความถึง โทรศัพท์มือถือ และ/หรือ อุปกรณ์อิเล็กทรอนิกส์ใดๆ ของผู้ขอใช้บริการ ที่มีการดาวน์โหลดและติดตั้งโปรแกรม LINE Application สำหรับใช้บัญชี LINE
                        ที่ผู้ขอใช้บริการขอใช้บริการ SCB Connect และ/หรือ ใช้ในการทำรายการใช้บริการ SCB Connect
                    </div>
                </div>


            </form>
        </div>

    </div>


    <div class="w-full">
        <div class="container" style="padding:20px !important;">
            <div class="relative items-center justify-start w-full h-14 py-5 z-49">
                <mat-checkbox color="primary" (change)="showOptions($event)" *ngIf="selectedPanel == 'policy' || selectedPanel == ''">
                    ยอมรับข้อกำหนดและเงื่อนไขบริการ
                </mat-checkbox>
                <button *ngIf="activeBtn" class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" (click)=" goToPanel() " mat-flat-button [color]="'primary'">
                    ถัดไป
                </button>
                <button *ngIf="!activeBtn" class="fuse-mat-button-large w-full mt-2 mb-3 rounded-md text-white" mat-flat-button [color]="'warn'">
                    ถัดไป
                </button>
            </div>
        </div>

    </div>
</div>