<div class=" flex flex-col relative items-center justify-center w-full h-35 px-4 md:px-6 z-49 bg-white">
    <div class="flex-0 w-46 h-auto overflow-hidden">
        <img class="w-full h-full object-cover" src="assets/images/Maps.png">
    </div>
    <span class="text-mdf text-center md:text-xl font-bold  tracking-tight  leading-7 sm:leading-10 truncate mt-3">
        ให้เราได้เข้าถึงตำแหน่งของคุณ
    </span>
    <span class="text-mdf text-center md:text-xl tracking-tight  leading-7 sm:leading-10 truncate mt-3">
        เราจะช่วยค้นหาศูนย์บริการที่ใกล้ตำแหน่งของคุณ<br>ได้สะดวกและรวดเร็วยิ่งขึ้น
    </span>
</div>

<div class="grid grid-cols-1 mt-2 bg-white justify-center rounded max-w-[100vh]">
    <div class=" flex relative items-end justify-end w-full h-35 px-4 md:px-6 z-49 bg-white">
        <button class="fuse-mat-button-large w-full rounded-md text-white" mat-flat-button [color]="'primary'">
            อนุญาติให้เข้าถึงตำแหน่ง
        </button>
    </div>
    <div class=" flex relative items-end justify-end w-full h-35 px-4 md:px-6 z-49 bg-white">
        <button class="fuse-mat-button-large w-full my-5 rounded-md text-white" mat-flat-button [color]="'warn'" (click)="selectMap()">
            ระบุตำแหน่งด้วยตนเอง
        </button>
    </div>
</div>