<div class="w-full">

    <!-- Form -->
    <form [formGroup]="addForm">

        <ng-stepper #cdkStepper [linear]="true">

            <cdk-step [optional]="false">
                <ng-template cdkStepLabel>
                    <div class="step-bullet">1</div>
                    <div class="step-title">ขั้นตอนที่ 1/4</div>
                </ng-template>

            </cdk-step>

            <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                    <div class="step-bullet">2</div>
                    <div class="step-title">&nbsp;</div>
                </ng-template>

            </cdk-step>

            <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                    <div class="step-bullet">3</div>
                    <div class="step-title">&nbsp;</div>
                </ng-template>

            </cdk-step>

            <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                    <div class="step-bullet">4</div>
                    <div class="step-title">&nbsp;</div>
                </ng-template>

            </cdk-step>

        </ng-stepper>

        <div class="bg-card">
            <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
                <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                    <!-- Avatar and name -->
                    <div class="flex flex-auto items-center min-w-0">
                        <div class="flex-0 w-26 h-auto overflow-hidden">
                            <img class="w-full h-full object-cover" src="assets/images/honda.png">
                        </div>
                        <div class="flex flex-col min-w-0 ml-4 justify-between">
                            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                6กท-6789 &nbsp;&nbsp;
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil'"></mat-icon>

                            </div>
                            <div class="flex items-center">
                                <div class="ml-1.5 leading-6 truncate text-secondary">
                                    Honda Accord • Silver
                                </div>
                            </div>
                            <!-- <div class="flex items-end">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">ต้องการรับบริการ/แจ้งซ่อมเรื่องใด?</div>
            <div class="text-secondary">เลือกได้มากกว่า 1 รายการ</div>
        </div>

        <div class="flex flex-wrap -mx-4">



            <div class="flex flex-col items-center justify-center m-4 p-4 min-w-36 max-w-36 min-h-30 max-h-30 rounded border-2 cursor-pointer bg-card">

                <div class="flex items-center justify-center mb-3">
                    <img class="w-full h-full object-cover" src="assets/images/services/checklist 1.png">
                </div>

                <div class="text-sm text-center break-all text-secondary">เช็คระยะ</div>

            </div>

            <div class="flex flex-col items-center justify-center m-4 p-4 min-w-36 max-w-36 min-h-30 max-h-30 rounded border-2 cursor-pointer bg-card">

                <div class="flex items-center justify-center mb-3">
                    <img class="w-full h-full object-cover" src="assets/images/services/accumulator 1.png">
                </div>

                <div class="text-sm text-center break-all text-secondary">เปลี่ยนแบต</div>

            </div>

            <div class="flex flex-col items-center justify-center m-4 p-4 min-w-36 max-w-36 min-h-30 max-h-30 rounded border-2 cursor-pointer bg-card">

                <div class="flex items-center justify-center mb-3">
                    <img class="w-full h-full object-cover" src="assets/images/services/flat-tire 1.png">
                </div>

                <div class="text-sm text-center break-all text-secondary">เปลี่ยนยาง</div>

            </div>

            <div class="flex flex-col items-center justify-center m-4 p-4 min-w-36 max-w-36 min-h-30 max-h-30 rounded border-2 cursor-pointer bg-card">

                <div class="flex items-center justify-center mb-3">
                    <img class="w-full h-full object-cover" src="assets/images/services/Group.png">
                </div>

                <div class="text-sm text-center break-all text-secondary">เช็คระบบแอร์</div>

            </div>

            <div class="flex flex-col items-center justify-center m-4 p-4 min-w-36 max-w-36 min-h-30 max-h-30 rounded border-2 cursor-pointer bg-card">

                <div class="flex items-center justify-center mb-3">
                    <img class="w-full h-full object-cover" src="assets/images/services/car-engine 1.png">
                </div>

                <div class="text-sm text-center break-all text-secondary">เช็คระบบไฟ</div>

            </div>

            <div class="flex flex-col items-center justify-center m-4 p-4 min-w-36 max-w-36 min-h-30 max-h-30 rounded border-2 cursor-pointer bg-card">

                <div class="flex items-center justify-center mb-3">
                    <img class="w-full h-full object-cover" src="assets/images/services/suspension (1) 1.png">
                </div>

                <div class="text-sm text-center break-all text-secondary">เช็คช่วงล่าง</div>

            </div>

            <div class="flex flex-col items-center justify-center m-4 p-4 min-w-36 max-w-36 min-h-30 max-h-30 rounded border-2 cursor-pointer bg-card">

                <div class="flex items-center justify-center mb-3">
                    <img class="w-full h-full object-cover" src="assets/images/services/brake-disc 1.png    ">
                </div>

                <div class="text-sm text-center break-all text-secondary">เช็คระบบเบรค</div>

            </div>

            <div class="flex flex-col items-center justify-center m-4 p-4 min-w-36 max-w-36 min-h-30 max-h-30 rounded border-2 cursor-pointer bg-card">

                <div class="flex items-center justify-center mb-3">
                    <img class="w-full h-full object-cover" src="assets/images/services/option 1.png">
                </div>

                <div class="text-sm text-center break-all text-secondary">อื่นๆ (ระบุ)</div>

            </div>


        </div>

    </form>

</div>